<html>
    <head>
        <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 10px 20px;
                background-color: aquamarine;
            }
            .logo {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            text-align: center;
            }
            .nav-links {
            list-style-type: none;
            display: flex;
            }           
            a{
                font-size: 30px;
                text-decoration: none;
                color: black;
                
            } 
            a:hover{
                font-size: 40px;
                color: red;
            }
        .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
    }

    .hostel-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .hostel{
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .hostel:hover {
        transform: translateY(-5px);
    }

    .hostel img {
        max-width: 500px;
        height: 400px;
    }

    .hostel-title {
        font-size: 16px;
        margin-top: 10px;
    }

    .hostel-price {
        font-size: 14px;
        color: #555;
        margin-top: 5px;
        font-weight: bold;
    }
    footer{
                background-color:gray;
                text-align: center;
                position:sticky ;
            }
        </style>
        <title>
            kandoli
        </title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="logo1.jpg" width="65px"><br><b style="color: black;">Hostel booking</b></div>
            <ul class="nav-links">
              <li> <a href="/home">Home      |</a></li>
              <li><a href="/bidholi">Bidholi      |</a></li>
              <li><a href="/kandoli">Kandoli      |</a></li>
              <li><a href="/dunga">Dunga</a></li>
            </ul>
        </header>
        <br>
        <div style="font-size: 40px; text-align: center;">
            <b> Hostels At Dunga Near Bidholi Campus</b><br>
        </div>
        <br>
        <div class="container">
            <div class="hostel-grid">
                <div class="hostel">
                    <a href="/sh"><img src="sh.webp"></a>
                    <div class="hostel-details">
                        <div class="hostel-title"><b>Sangam House(Boys)</b> <br> Seat Available-100<br></div>
                        <div class="hostel-price">1,70,000 Rs</div>
                    </div>
                </div>
                <div class="hostel">
                    <a href="/db"><img src="db.jpeg" ></a>
                    <div class="hostel-details">
                        <div class="hostel-title"><b>Doonga Boys (Boys)</b> <br> Seat Available-50</div>
                        <div class="hostel-price">1,50,000 Rs</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
<footer>
    Made by dhairya jain 
</footer>

    </body>
</html>