<html>
    <head>
        <style>
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 10px 20px;
                background-color: aquamarine;
            }
            .logo {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            text-align: center;
            }
            .nav-links {
            list-style-type: none;
            display: flex;
            }           
            a{
                font-size: 30px;
                text-decoration: none;
                color: black;
                
            } 
            a:hover{
                font-size: 40px;
                color: red;
            }
            .column {
              float: left;
              width: 20%; 
              padding: 0px;
              text-align: center;
              
            }
            
            .row::after {
              content: "";
              clear: both;
              display: table;
              
            }
            .zoom {
              padding: 20px;
              transition: transform .2s;
              margin: 0 auto;
            }
            .zoom:hover {
              transform: scale(1.25);
            }
            footer{
                background-color:gray;
                text-align: center;
                position:sticky ;
            }
        </style>
        <title>
            Gaurdian girls hostel
        </title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="logo1.jpg" width="65px"><br><b style="color: black;">Hostel booking</b></div>
            <ul class="nav-links">
              <li> <a href="/home">Home      |</a></li>
              <li><a href="/bidholi">Bidholi      |</a></li>
              <li><a href="/kandoli">Kandoli      |</a></li>
              <li><a href="/dunga">Dunga</a></li>
            </ul>
        </header>
        <h1 style="text-align: center;color: burlywood;">Gaurdian girls hostel (Girls)</h1>
            <div class="row" >
                <div class="column">
             <img src="gg.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="gg1.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="gg2.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                  <img src="gg3.jpeg" width="250" height="300" class="zoom">   
              </div>
            </div>    
            <b style="font-size: 25px;">Price - 1,60,0000</b>
            <p style="background-color: antiquewhite;"><b>Gaurdian Girls Hostel in Pondha, Dehradun</b><br>
                Gaurdian Girls Hostel in Dehradun is one of the leading businesses in the Hostel For Girl Students. Also known for Hostels, Paying Guest Accommodations For Women, Paying Guest Accommodations For Girl Student, Hostels For Women, Hostel For Girl Students, Hostels For Working Women and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Gaurdian Girls Hostel, Dehradun.
                <br>
                Every year, many students relocate to new cities to study in some of the best colleges or schools. However, the main concern about relocating to a new place, especially for girls, is getting a better place to stay. While finding a hostel is easy, it is important to ensure that the place is safe and provides all facilities to make the stay comfortable.
                <br>
                There are many Hostel For Girl Students in Dehradun that ensure students can stay comfortably.
                <br>
                Gaurdian Girls Hostel is an established hostel in Bidholi Dehradun.
                <br><br>
            </p>
             <b style="font-size: 20;">Facilities-</b>
            <ul type="square" style="background-color: rgb(41, 212, 207);">
                <li>well-appointed rooms feature cozy beds, study areas and ample storage space.</li>
                <li>one of the top hostels in Dehradun.</li>
                <li>lounge and courtyard.</li>
                <li>round-the-clock CCTV surveillance and secure access systems.</li>
                <li>easy reach of local attractions, restaurants and transportation options.</li>
                <li>regular cleaning and sanitization to maintain a hygienic environment.</li>
                <li>clean washrooms, common areas and facilities.</li>
                <li>high-speed internet access.</li>
                <li>laundry facilities.</li>
                <li>communal kitchen.</li>
                <br>
                <b>Seat Available- 50 </b><br><br>
                <a href="/book">Book Now>>></a>
    </ul>
            
            <p style="background-color: black; color: white;">
                <b>Address-</b><br>
                Building No.1027, Pondha, UPES University Road, Pondha, Dehradun - 248007 (Near Cambridge School)<br>
                <b>Contact No.- </b>
                08460201619<br>
                <b>Email- </b>theguardianpg@gmail.com
            </p>

<footer>
    Made by dhairya jain 
</footer>

    </body>
</html>