<html>
    <head>
        <style>
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 10px 20px;
                background-color: aquamarine;
            }
            .logo {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            text-align: center;
            }
            .nav-links {
            list-style-type: none;
            display: flex;
            }
            a{
                font-size: 30px;
                text-decoration: none;
                color: black;
                
            } 
            a:hover{
                font-size: 40px;
                color: red;
            }
            .column {
              float: left;
              width: 20%; 
              padding: 0px;
              text-align: center;
              
            }
            
            .row::after {
              content: "";
              clear: both;
              display: table;
              
            }
            .zoom {
              padding: 20px;
              transition: transform .2s;
              margin: 0 auto;
            }
            .zoom:hover {
              transform: scale(1.25);
            }
            footer{
                background-color:gray;
                text-align: center;
                position:sticky ;
            }
        </style>
        <title>
            Kandoli Boys
        </title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="logo1.jpg" width="65px"><br><b style="color: black;">Hostel booking</b></div>
            <ul class="nav-links">
              <li> <a href="/home">Home      |</a></li>
              <li><a href="/bidholi">Bidholi      |</a></li>
              <li><a href="/kandoli">Kandoli      |</a></li>
              <li><a href="/dunga">Dunga</a></li>
            </ul>
        </header>
        <h1 style="text-align: center;color: burlywood;">Kandoli boys hostel (Boys)</h1>
            <div class="row" >
                <div class="column">
             <img src="kb.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="kb1.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="kb2.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                  <img src="kb3.jpeg" width="250" height="300" class="zoom">   
              </div>
            </div>    
            <b style="font-size: 25px;">Price - 1,60,0000</b>
            <p style="background-color: antiquewhite;"><b>Kandoli Boys Hostel in Pondha, Dehradun</b><br>
                Relocating to another place always sounds exciting. But how exciting can it be if you haven't found a roof over your head just yet? Finding something that suits your requirements in terms of budget, hygiene, and comfort is very important. Hostels are the most economical solution!
                <br>
                So, while looking for Hostel For Boy Students, you will be able to locate Kandoli Boys Hostel in Pondha, Dehradun. They offer occupancies which suit your budget and category too which has fetched them a 3.6 rating. are among the list of services they offer. Stay happy and stay safe!
                <br><br>
            </p>
             <b style="font-size: 20;">Facilities-</b>
            <ul type="square" style="background-color: rgb(41, 212, 207);">
                <li>Well furnished rooms.</li>
                <li>CCTV surveillance.</li>
                <li>regular room cleaning.</li>
                <li>high-speed internet access.</li>
                <li>laundry facilities.</li>
                <li>Separate dining hall.</li>
                <br>
                <b>Seat Available- 60 </b><br><br>
                <a href="/book">Book Now>>></a>
    </ul>
            
            <p style="background-color: black; color: white;">
                <b>Address-</b><br>
                350mts away to UPES Kandoli Campus
                <br>
                <b>Contact No.- </b>
                7409455551, 9759554445<br>
                <b>site- </b>kandoliboyshostel.com
            </p>

<footer>
    Made by dhairya jain 
</footer>

    </body>
</html>