<html>
    <head>
        <style>
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 10px 20px;
                background-color: aquamarine;
            }
            .logo {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            text-align: center;
            }
            .nav-links {
            list-style-type: none;
            display: flex;
            }
            a{
                font-size: 30px;
                text-decoration: none;
                color: black;
                
            } 
            a:hover{
                font-size: 40px;
                color: red;
            }
            .column {
              float: left;
              width: 20%; 
              padding: 0px;
              text-align: center;
              
            }
            
            .row::after {
              content: "";
              clear: both;
              display: table;
              
            }
            .zoom {
              padding: 20px;
              transition: transform .2s;
              margin: 0 auto;
            }
            .zoom:hover {
              transform: scale(1.25);
            }
            footer{
                background-color:gray;
                text-align: center;
                position:sticky ;
            }
        </style>
        <title>
            Sangam house
        </title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="logo1.jpg" width="65px"><br><b style="color: black;">Hostel booking</b></div>
            <ul class="nav-links">
              <li> <a href="/home">Home      |</a></li>
              <li><a href="/bidholi">Bidholi      |</a></li>
              <li><a href="/kandoli">Kandoli      |</a></li>
              <li><a href="/dunga">Dunga</a></li>
            </ul>
        </header>
        <h1 style="text-align: center;color: burlywood;">sangam house (Boys)</h1>
            <div class="row" >
                <div class="column">
             <img src="sh.webp" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="sh1.webp" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="sh2.webp" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                  <img src="sh3.webp" width="250" height="300" class="zoom">   
              </div>
              <div class="column">
                <img src="sh4.webp" width="250" height="300" class="zoom">   
            </div>
            </div>    
            <b style="font-size: 25px;">Price - 1,70,0000</b>
            <p style="background-color: antiquewhite;"><b>Sangam house boys Hostel</b><br>
                We, Sangam House, located in Bidholi, Dehradun, Uttarakhand offer a pocket friendly stay to each patron and welcome them with complete warmth and hospitality. We offer an array of all essential services that are rendered by the hostel for a hassle free stay at no extra costs. For accommodation, the property offers spacious, airy and well-lit rooms, featuring sophisticated and welcoming ambience with the warmth and comfort of home. We take utmost care of the safety and security of individuals and their belongings staying in our hostel.
                <br><br>
            </p>
             <b style="font-size: 20;">Facilities-</b>
            <ul type="square" style="background-color: rgb(41, 212, 207);">
                <li>Pure veg</li>
                <li>Furnished rooms</li>
                <li>WIFI</li>
                <li>Laundry service</li>
                <li>CCTV surveillance</li>
                <li>canteen</li>
                <li>Housekeeping</li>
                <li>Watchmen</li>
                <li>Transportation services</li>
                <li>Quite and peacefull area</li>
                <li>power backup</li>
                <li>Hot water service</li>
                <li>RO and Water cooler</li>
                <li>vollyball court</li>
                <li>TT Table</li>
                <li>Gardern</li>
                <li>Parking space</li>
                <li>Attach bathrooms</li>
                <li>Big rooms</li>
                <li>Lift</li>
                <li>Big terrace</li>
                <br>
                <b>Seat Available- 100 </b><br><br>
                <a href="/book">Book Now>>></a>
    </ul>
            
            <p style="background-color: black; color: white;">
                <b>Address-</b><br>
                House No. 131,Near UPES COLLEGE,Village Dunga, Bidholi, Dehradun, Uttarakhand 248007
                <br>
                <b>Contact No.- </b>
                <br>+91-9990119164, +91-9458587810<br>
                <b>gmail- </b> parmarabsm@gmail.com<br>
                <b>site-</b>www.sangamhousepg.com
            </p>

<footer>
    Made by dhairya jain 
</footer>

    </body>
</html>