<html>
    <head>
        <style>
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 10px 20px;
                background-color: aquamarine;
            }
            .logo {
            display: inline-block;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            text-align: center;
            }
            .nav-links {
            list-style-type: none;
            display: flex;
            }           
            a{
                font-size: 30px;
                text-decoration: none;
                color: black;
                
            } 
            a:hover{
                font-size: 40px;
                color: red;
            }
            .column {
              float: left;
              width: 20%; 
              padding: 0px;
              text-align: center;
              
            }
            
            .row::after {
              content: "";
              clear: both;
              display: table;
              
            }
            .zoom {
              padding: 20px;
              transition: transform .2s;
              margin: 0 auto;
            }
            .zoom:hover {
              transform: scale(1.25);
            }
            footer{
                background-color:gray;
                text-align: center;
                position:sticky ;
            }
        </style>
        <title>
            scholar paradise
        </title>
    </head>
    <body>
        <header>
            <div class="logo"><img src="logo1.jpg" width="65px"><br><b style="color: black;">Hostel booking</b></div>
            <ul class="nav-links">
              <li> <a href="/home">Home      |</a></li>
              <li><a href="/bidholi">Bidholi      |</a></li>
              <li><a href="/kandoli">Kandoli      |</a></li>
              <li><a href="/dunga">Dunga</a></li>
            </ul>
        </header>
        <h1 style="text-align: center;color: burlywood;">Scholar paradise (boys)</h1>
            <div class="row" >
                <div class="column">
             <img src="sp.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="sp1.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                <img src="sp2.jpeg" width="250" height="300" class="zoom">  
              </div>
              <div class="column">
                  <img src="sp3.jpeg" width="250" height="300" class="zoom">   
              </div>
            </div>    
            <b style="font-size: 25px;">Price - 1,75,0000</b>
            <p style="background-color: antiquewhite;"><b>Scholars Paradise Boys Hostel 900 Meters From University Of Petroleum in Bidholi, Dehradun </b><br>
            Scholars Paradise Boys Hostel 900 Meters From University Of Petroleum in Dehradun is one of the leading businesses in the Hostels. Also known for 
            Hostels, Hostel For Boy Students, Hostel For Students and much more. Find Address, Contact Number, Reviews & Ratings, Photos, Maps of Scholars 
            Paradise Boys Hostel 900 Meters From University Of Petroleum, Dehradun.<br>
            Hostels<br>
            Many people relocate to another city to pursue higher education or to find better employment. The top item on their to-do list while doing this is
             searching for comfortable accommodation. When relocating to a new city, many people choose to stay in hostels, this is particularly true for 
             students. Hostels is a low-cost rental home that provides simple lodging, frequently shared with other tenants<br>
             If you are looking to find accommodation in a hostel, we strongly advise you to check out Scholans Paradise Boys Hostel 900 Meters From University 
             Of Petroleum in Bidholi, Dehradun.<br><br>
            </p>
             <b style="font-size: 20;">Facilities-</b>
            <ul type="square" style="background-color: rgb(41, 212, 207);">
                <li>A walking distance of approx. 8 to 10 minutes from the University of Petroleum & Energy studies saves your Time, money and energy on travel.</li>
                <li>Fully furnished rooms with Box bed, coir mattress, study table chair & cupboard and a shelf.</li>
                <li>Spacious dining hall with Television and latest kitchen equipments to keep the food fresh and warm.</li>
                <li>Dedicated & trained kitchen staff with varied daily menus with four meals including Breakfast, Lunch, evening Tea & Snacks and Dinner.</li>
                <li>Attached bathrooms with hot water geysers.</li>
                <li>Pure cows milk with hostel's own dairy farm.</li>
                <li>Badminton court and indoor games.</li>
                <li>Twenty four hours power backup.</li>
                <li>A very positive environment with a personal attention and care to to every scholar.</li>
                <li>A clean and healthy stress free environment ideal for a scholar.</li>
                <br>
                <b>Seat Available- 65 </b><br><br>
                <a href="/book">Book Now>>></a>
    </ul>
            
            <p style="background-color: black; color: white;">
                <b>Address-</b><br>
                Scholars Paradise Boys Hostel, Bidholi, Bidholi, Dehradun - 248007 (Near University Of Petroleum and Energy Studies)<br>
                <b>Contact No.- </b>
                08460559784
            </p>

<footer>
    Made by dhairya jain 
</footer>

    </body>
</html>