body {
    font-family: Arial, sans-serif;
    background-image: url("background1.jpg");
  background-size: 100% 150%;
  background-repeat: no-repeat;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
    background-color: aquamarine;
}
.logo {
display: inline-block;
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
color: #fff;
text-align: center;
}
footer{
    background-color:gray;
    text-align: center;
    position:sticky ;
}
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    form {
      grid-template-columns: 1fr;
    }
  }
  